.moto-list {
    list-style-type: none;
    padding: 0;
  }
  
  .moto-list li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .moto-list li:hover {
    background-color: #e0e0e0;
  }
  